.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  max-width: 640px;
  padding: 2.5rem 1.875rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 0 -0.25rem;

  & > * {
    padding: 0 0.25rem;
  }
}

.button {
  margin-top: 0.5rem;
}
