* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(-1px + var(--vh) * 100);
  padding: 1rem;
  font-family:
    /* Cross-platform generic font family (default user interface font) */
    system-ui,
    /* Safari for macOS and iOS (San Francisco) */ -apple-system,
    /* Windows */ 'Segoe UI',
    /* Android */ Roboto,
    /* older macOS and iOS */ 'Helvetica Neue',
    /* Linux */ 'Noto Sans',
    'Liberation Sans',
    /* Basic web fallback */ Arial,
    /* Sans serif fallback */ sans-serif,
    /* Emoji fonts */ 'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 1rem;
  line-height: 1.5;
  background-color: #0080ff;
}

.text {
  font-size: 1.125rem;
  font-weight: 400;
  color: #333;
}

.button {
  --background-color: #0080ff;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: white;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 9999px;
  background-color: var(--background-color);
  cursor: pointer;
  user-select: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
